.header__hamburger {
	display: none;
}

@media (max-width: 1400px) {
	.container {
		max-width: 1050px;
	}

	.sidepanel {
		left: 30px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 850px;
	}

	.btn {
		width: 200px;
		height: 50px;
		font-size: 16px;
	}

	.title {
		font-size: 30px;
	}

	.header {
		padding: 0 50px;

		&__left-block {
			min-width: 445px;
		}

		&__link {
			font-size: 16px;
			margin-right: 40px;
			&:after {
				height: 5px;
			}
		}
	}

	.sidepanel {
		width: 17px;
		height: 380px;

		&__icon {
			width: 22px;
			height: 22px;
		}
	}

	.preview {
		padding: 20px 0 80px 0;

		.bgc_blue {
			height: 745px;
		}

		.tabcontainer {
			width: 900px;

			.tabcontent {
				&__descr {
					font-size: 18px;
					width: 480px;
					height: 270px;
					line-height: 32px;
				}
			}

			.tabheader {
				padding: 30px 20px;
				width: 200px;

				&__item {
					margin-top: 8px;
					font-size: 15px;

					&_active {
						font-weight: 600;
					}
				}
			}
		}

		&__life {
			font-size: 19px;
			font-weight: 600;
		}
	}

	.offer {
		padding: 20px 0 80px 0;

		.bgc_y {
			height: 714px;
			width: 992px;
		}

		&__descr {
			font-size: 16px;
		}

		&__advantages {
			margin-top: 30px;
			width: 250px;

			h2 {
				font-size: 18px;
			}

			&-text {
				margin-top: 15px;
				font-size: 16px;
				line-height: 19px;
			}
		}

		&__slider {
			width: 542px;
			margin-top: 30px;

			&-counter {
				font-size: 20px;
			}

			#current {
				font-size: 42px;
			}

			&-wrapper {
				margin-top: 10px;
			}
		}
	}

	.calculating {
		&__subtitle {
			font-size: 17px;
		}

		&__choose {
			margin-top: 22px;

			&-item {
				width: 160px;
				height: 45px;
			}

			&_medium {
				width: 580px;
			}

			&_big {
				width: 750px;

				.calculating__choose-item {
					width: 165px;
				}
			}
		}

		&__divider {
			margin: 30px auto;
		}

		&__total {
			width: 400px;
		}

		&__result {
			span {
				font-size: 36px;
				font-weight: 600;
			}
		}
	}

	.menu {
		&__item {
			width: 250px;
			min-height: 435px;

			&-subtitle {
				font-size: 17px;
				font-weight: 600;
				margin-top: 15px;
			}

			&-descr {
				margin-top: 15px;
				font-size: 15px;
			}

			&-divider {
				margin-top: 25px;
			}

			&-total {
				span {
					font-size: 22px;
					font-weight: 600;
				}
			}
		}
	}

	.order {
		padding-bottom: 70px;

		&__form {
			margin-top: 50px;
		}

		&__input {
			width: 188px;
			font-size: 15px;
		}

		button {
			font-size: 15px;
			width: 180px;
		}
	}

	.promotion {
		padding: 60px 0 130px 0;

		&__descr {
			margin-top: 30px;
			font-size: 16px;

			span {
				font-size: 22px;
			}
		}

		&__timer {
			.timer {
				margin-top: 50px;
				padding-left: 45px;

				&__block {
					width: 80px;
					height: 100px;

					span {
						margin-top: 15px;
						font-size: 45px;
					}
				}
			}
		}
	}

	.modal {
		&__content {
			padding: 30px;
			width: 90%;
		}

		&__title {
			font-size: 20px;
			width: 380px;
		}

		&__input {
			font-size: 16px;
		}
	}
}

@media (max-width: 991px) {
	.container {
		width: 768px;
		padding: 0 40px;
	}

	.btn {
		width: 160px;
		font-size: 14px;
	}

	.title {
		font-size: 25px;
	}

	.header {
		padding: 0 35px;
		height: 110px;
		margin-top: 10px;

		&__left-block {
			min-width: 400px;
		}

		&__logo {
			max-width: 110px;
		}
	}

	.preview {
		padding: 20px 0 73px 0;

		.bgc_blue {
			height: 630px;
		}

		&__life {
			font-size: 17px;
			margin-left: 60px;
		}
		.tabcontainer {
			width: 650px;

			.tabheader {
				h3 {
					font-size: 15px;
				}

				&__items {
					padding-left: 16px;
					margin-top: 30px;
				}

				&__item {
					font-size: 13px;
				}
			}

			.tabcontent {
				&__descr {
					font-size: 15px;
					line-height: 24px;
					width: 410px;
					height: 155px;
					padding: 20px 25px;
				}
			}
		}
	}

	.offer {
		// padding: 20px 20px 60px;
		padding: 20px 0 60px;

		.bgc_y {
			min-width: 768px;
			width: 100%;
			height: 550px;
		}

		&__descr {
			font-size: 15px;
		}

		&__text {
			width: 470px;
		}

		&__advantages {
			margin-top: 0;
			width: 220px;

			h2 {
				font-size: 17px;
				margin-top: 15px;
				&:first-child {
					margin-top: 50px;
				}
			}

			h2:nth-child(3) {
				display: none;
			}

			&-text {
				font-size: 15px;
				line-height: 24px;
				margin-top: 5px;
			}

			&-text:last-child {
				display: none;
			}
		}

		&__slider {
			width: 440px;
			margin-top: 0;

			&-prev {
				#current {
					font-size: 34px;
				}

				#total {
					font-size: 18px;
				}
			}

			.carousel-indicators {
				.dot {
					width: 25px;
					height: 5px;
				}
			}
		}

		&__slide {
			height: 280px;
		}
	}

	.calculating {
		padding: 30px 0;

		&__field {
			margin-top: 25px;
			padding: 25px 0 25px 0;
		}

		&__subtitle {
			font-size: 16px;
		}

		&__choose {
			margin-top: 20px;

			&-item {
				width: 140px;
				height: 38px;
			}

			&_medium {
				width: 444px;
			}

			&_big {
				width: 600px;

				.calculating__choose-item {
					width: 140px;
				}
			}
		}

		&__divider {
			margin: 25px auto;
			width: 444px;
		}

		&__total {
			width: 370px;
		}

		&__result {
			font-size: 16px;
			font-weight: 600;

			span {
				font-weight: 400;
			}
		}
	}

	.menu {
		padding: 30px 0 40px;

		&__field {
			margin-top: 25px;
			padding: 30px 0;

			.container {
				justify-content: center;
				gap: 7px;
			}
		}

		&__item {
			width: 150px;
			min-height: 300px;

			&:active {//таке шось
				transform: scale(1.3);
				transition: all .2s ease;
			}

			img {
				height: 150px;
			}

			&-subtitle {
				font-size: 11px;
				font-weight: 500;
				margin-top: 10px;
			}

			&-descr {
				font-size: 10px;
				margin-top: 10px;
				padding: 0 10px;
			}

			&-divider {
				margin-top: 15px;
			}

			&-price {
				padding: 5px 26px;
			}

			&-cost {
				font-size: 11px;
			}

			&-total {
				font-size: 11px;

				span {
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}

	.order {
		&__form {
			margin-top: 35px;
			padding: 0 60px;

			img {
				transform: scale(1.2);
			}

			.btn_min {
				font-size: 14px;
				height: 40px;
				width: 150px;
				font-weight: 600;
			}
		}

		&__input {
			width: 150px;
			font-size: 14px;
			height: 35px;
			padding: 0 10px;
		}
	}

	.promotion {
		padding: 50px 0 80px;

		&__descr {
			font-size: 15px;
			margin-top: 20px;

			span {
				font-size: 19px;
			}
		}

		.timer {
			&__block {
				width: 70px;
			}
		}
	}

	.footer {
		padding: 35px 0 40px;
		min-height: 150px;

		.subtitle {
			font-size: 18px;
		}

		.link {
			font-size: 15px;
			margin-top: 12px;
		}
	}

	.sidepanel {
		left: 12px;
	}

	.modal {
		&__dialog {
			width: 400px;
			margin: 0 auto;
		}

		&__content {
			padding: 20px;
			width: 100%;
		}

		&__title {
			font-size: 18px;
			width: 360px;
		}

		&__input {
			font-size: 15px;
			width: 230px;
			height: 40px;
		}

		.btn {
			width: 230px;
			height: 42px;
		}
	}
}

@media (max-width: 767px) {
	.btn {
		width: 140px;
		height: 38px;
	}

	.sidepanel {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 30px;
		width: 363px;
		padding: 0 20px;
		top: 24px;
		margin: 0 auto;
		left: 0;

		&__text {
			span {
				position: relative;
				top: 60px;
				transform: rotate(0deg) translateY(-50%);
			}
		}

		&__divider {
			height: 1px;
			width: 80px;
			// display: none;
		}
	}

	.container {
		padding: 0 25px;
		width: 576px;
	}

	.title {
		font-size: 22px;
	}

	.header {
		max-width: 576px;
		height: 80px;
		padding: 0 20px;

		&__links {
			display: none;
		}

		&__right-block {
			position: relative;
			right: 60px;
		}

		&__hamburger {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			right: 25px;
			height: 21px;
			cursor: pointer;

			span {
				display: block;
				width: 27px;
				height: 3px;
				background-color: #151812;
			}
			span.long {
				width: 33px;
			}
		}
	}

	.preview {
		padding: 20px 0 66px;

		.bgc_blue {
			height: 552px;
		}

		.tabcontainer {
			width: 526px;

			.tabheader {
				width: 155px;
				padding: 20px 10px;

				h3 {
					font-size: 14px;
				}
			}

			.tabcontent {
				width: 526px;


				&__descr {
					font-size: 14px;
					line-height: 22px;
					padding: 15px;
					min-height: 120px;
					height: 136px;
					width: 370px;
					right: -140px;
					top: 240px;
				}
			}
		}

		&__life {
			font-size: 16px;
			font-weight: 500;
			margin-left: 10px;
			width: 160px;
			text-align: center;
		}
	}

	.offer {
		padding: 20px 0 40px;

		.bgc_y {
			min-width: 576px;
			height: 505px;
		}

		&__text {
			width: 362px;
		}

		&__descr {
			margin-top: 20px;
			font-size: 14px;
			line-height: 22px;
		}

		&__slider {
			width: 319px;

			&-counter {
				font-size: 18px;

				#current {
					font-size: 30px;
				}
			}

			.carousel-indicators {
				.dot {
					background-color: #000;
				}
			}
		}

		&__slide {
			height: 215px;
		}

		&__advantages {
			width: 185px;
		}
	}

	.calculating {
		&__subtitle {
			font-size: 15px;
		}

		&__choose {
			margin-top: 15px;

			&-item {
				width: 110px;
				height: 33px;
			}

			&_medium {
				width: 360px;
			}

			&_big {
				flex-wrap: wrap;
				justify-content: space-evenly;
				width: 340px;
				column-gap: 13px;

				.calculating__choose-item {
					width: 160px;
					margin-top: 15px;

					&:nth-child(1) {
						margin-top: 0;
					}

					&:nth-child(2) {
						margin-top: 0;
					}
				}
			}
		}

		&__divider {
			margin: 20px auto;
		}

		&__total {
			width: 320px;
		}

		&__subtitle {
			font-weight: 600;
		}

		&__result {
			font-size: 15px;
			font-weight: 500;

			span {
				font-size: 30px;
			}
		}
	}

	.order {

		&__form {
			padding: 0;
		}
	}

	.promotion {
		padding: 30px 0 40px;

		.bgc_y {
			height: 336px;
		}

		&__descr {
			font-size: 14px;
			line-height: 21px;

			span {
				font-size: 17px;
			}
		}

		&__timer {
			.timer {
				padding-left: 30px;

				&__block {
					width: 55px;
					height: 90px;
					font-size: 15px;

					span {
						font-size: 30px;
					}
				}

			}
		}
	}

	.footer {
		.subtitle {
			font-size: 15px;
		}

		.link {
			font-size: 14px;
		}
	}
}

@media (max-width: 575px) {
	.container {
		padding: 0 15px;
		width: 320px;
	}

	.title {
		font-size: 17px;
	}

	.header {
		max-width: 575px;

		&__left-block {
			min-width: 127px;
		}

		&__right-block {
			display: none;
		}

		&__hamburger {
			right: 0;
			height: 18px;

			span {
				height: 2px;
				width: 22px;

				&.long {
					width: 28px;
				}
			}
		}
	}

	.divider {
		width: 295px;
		margin: 0 auto;
		margin-top: 20px;
	}

	#first-divider {
		margin-top: 165px;
	}

	.preview {
		.tabcontainer {
			position: relative;
			width: 290px;
			.tabcontent {
				width: 290px;

				&__descr {
					width: 190px;
					top: 215px;
					right: -15px;
					font-size: 12px;
					line-height: 17px;
					height: 180px;
				}
			}

			.tabheader {
				position: absolute;
				width: 115px;
				top: 210px;
				padding: 20px 10px;

				&__items {
					border: none;
					margin-left: 0;
					padding-left: 0;
				}

				&__item {
					margin-top: 6px;

					&_active {
						font-weight: 400;
						text-decoration: underline;
						margin-left: 10px;
					}
				}
			}
		}

		.preview__life {
			display: none;
		}
	}

	.offer {
		padding: 15px 0;

		.bgc_y {
			min-width: 320px;
			height: 820px;
			// height: 100%;
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 20px;
		}

		&__text, &__advantages {
			width: 290px;
		}

		&__descr {
			font-size: 13px;
			line-height: 20px;
		}

		&__advantages {

			h2 {
				font-size: 16px;
				font-weight: 600;
			}

			h2:first-child {
				margin-top: 20px;
			}

			h2:nth-child(3) {
				display: block;
			}

			&-text:last-child {
				display: block;
			}
		}

		&__slider {
			width: 320px;
			align-items: center;

			&-counter {
				justify-content: center;
			}

			.carousel-indicators {
				.dot {
					background-color: #fff;
					height: 3px;
				}
			}
		}
	}

	.calculating {
		padding: 20px 0;

		.container {
			padding: 0;
		}

		&__field {
			margin-top: 0;
			// padding-bottom: 0;
		}

		&__subtitle {
			font-size: 14px;
		}

		&__choose {
			&-item {
				font-size: 13px;
				width: 92px;
				padding: 0 5px;
			}

			&_medium {
				width: 300px;
			}

			&_big {
				width: 300px;

				.calculating__choose-item {
					width: 140px;
				}
			}
		}

		&__divider {
			width: 260px;
			margin: 20px auto 10px;
		}

		&__total {
			width: 300px;
		}

		&__result {
			font-size: 14px;
		}
	}

	.order {
		&__form {
			flex-direction: column;
			gap: 15px;
		}

		&__input {
			font-size: 13px;
		}

		img {
			display: none;
		}
	}

	.menu {
		&__field {
			height: 700px;

			.menu__item {
				position: absolute;
				min-height: 150px;
				height: 200px;
				width: 300px;

				img {
					position: relative;
					height: 150px;
					width: 150px;
				}

				&-subtitle, &-descr {
					position: relative;
					right: -150px;
					top: -150px;
					width: 150px;
				}

				&-divider, &-price {
					position: relative;
				}

				&-cost {
					font-size: 13px;
				}

				&-total {
					font-size: 12px;
					span {
						font-size: 13px;
						font-weight: 700;
					}
				}

				&:first-child {
					margin-top: 0;
					.menu__item-divider, .menu__item-price {
						top: -144px;
					}
				}
				&:nth-child(2) {
					margin-top: 215px;
					height: 220px;
					.menu__item-divider, .menu__item-price {
						top: -150px;
					}
				}
				&:last-child {
					margin-top: 455px;
					height: 200px;

					.menu__item-divider, .menu__item-price {
						top: -120px;
					}
				}
			}
		}
	}

	.promotion {
		.container {
			flex-direction: column;
		}

		&__text, &__timer {
			width: 100%;

			.title {
				text-align: center;
			}
		}

		&__timer {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.timer {
				padding-left: 0;
				margin-top: 25px;
				width: 250px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	.footer {
		padding: 20px 0 40px;

		.subtitle {
			font-size: 12px;
		}

		.link {
			font-size: 13px;
		}
	}

	.modal {
		width: 320px;
		&__dialog {
			width: 320px;
		}

		&__title {
			font-size: 15px;
			width: 280px;
		}

		&__input {
			font-size: 14px;
		}
	}
}