@media (max-width: 1400px) {
	.container {
		max-width: 1050px;
	}

	.sidepanel {
		left: 30px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 850px;
	}

	.btn {
		width: 200px;
		height: 50px;
		font-size: 16px;
	}

	.header {
		padding: 0 50px;

		&__left-block {
			min-width: 445px;
		}

		&__link {
			font-size: 16px;
			margin-right: 40px;
			&:after {
				height: 5px;
			}
		}
	}

	.sidepanel {
		width: 17px;
		height: 380px;

		&__icon {
			width: 22px;
			height: 22px;
		}
	}

	.preview {
		padding: 20px 0 80px 0;

		.bgc_blue {
			height: 745px;
		}

		.tabcontainer {
			width: 900px;

			.tabcontent {
				&__descr {
					font-size: 18px;
					width: 480px;
					height: 270px;
					line-height: 32px;
				}
			}

			.tabheader {
				padding: 30px 20px;
				width: 200px;

				&__item {
					margin-top: 8px;
					font-size: 15px;

					&_active {
						font-weight: 600;
					}
				}
			}
		}

		&__life {
			font-size: 19px;
			font-weight: 600;
		}
	}

	.offer {
		padding: 20px 0 80px 0;

		.bgc_y {
			height: 714px;
			width: 992px;
		}

		&__text {
			.title {
				font-size: 30px;
			}
		}

		&__descr {
			font-size: 16px;
		}

		&__advantages {
			margin-top: 30px;
			width: 250px;

			h2 {
				font-size: 18px;
			}

			&-text {
				margin-top: 15px;
				font-size: 16px;
				line-height: 19px;
			}
		}

		&__slider {
			width: 542px;
			margin-top: 30px;

			&-counter {
				font-size: 20px;
			}

			#current {
				font-size: 42px;
			}

			&-wrapper {
				margin-top: 10px;
			}
		}
	}

	.calculating {
		.title {
			font-size: 30px;
		}

		&__subtitle {
			font-size: 17px;
		}

		&__choose {
			margin-top: 22px;

			&-item {
				width: 160px;
				height: 45px;
			}

			&_medium {
				width: 580px;
			}

			&_big {
				width: 750px;

				.calculating__choose-item {
					width: 165px;
				}
			}
		}

		&__divider {
			margin: 30px auto;
		}

		&__total {
			width: 400px;
		}

		&__result {
			span {
				font-size: 36px;
				font-weight: 600;
			}
		}
	}
}