@media (max-width: 1400px) {
	.container {
		max-width: 1050px;
	}

	.sidepanel {
		left: 30px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 850px;
	}

	.header {
		padding: 0 50px;

		&__left-block {
			min-width: 445px;
		}

		&__link {
			font-size: 16px;
			margin-right: 40px;
			&:after {
				height: 5px;
			}
		}

		&__right-block {
			.btn {
				width: 200px;
				height: 50px;
				font-size: 16px;
			}
		}
	}

	.sidepanel {
		width: 17px;
		height: 380px;

		&__icon {
			width: 22px;
			height: 22px;
		}
	}

	.preview {
		padding: 20px 0 80px 0;

		.bgc_blue {
			height: 745px;
		}

		.tabcontainer {
			width: 900px;
			// padding: 0 30px;

			.tabcontent {
				&__descr {
					font-size: 18px;
					width: 480px;
					height: 270px;
					line-height: 32px;
				}
			}

			.tabheader {
				padding: 30px 20px;
				width: 200px;

				&__item {
					margin-top: 8px;
					font-size: 15px;

					&_active {
						font-weight: 600;
					}
				}
			}
		}

		&__life {
			font-size: 19px;
			font-weight: 600;
		}
	}
}