@media (max-width: 1400px) {
	.container {
		max-width: 1050px;
	}

	.sidepanel {
		left: 30px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 850px;
	}

	.btn {
		width: 200px;
		height: 50px;
		font-size: 16px;
	}

	.title {
		font-size: 30px;
	}

	.header {
		padding: 0 50px;

		&__left-block {
			min-width: 445px;
		}

		&__link {
			font-size: 16px;
			margin-right: 40px;
			&:after {
				height: 5px;
			}
		}
	}

	.sidepanel {
		width: 17px;
		height: 380px;

		&__icon {
			width: 22px;
			height: 22px;
		}
	}

	.preview {
		padding: 20px 0 80px 0;

		.bgc_blue {
			height: 745px;
		}

		.tabcontainer {
			width: 900px;

			.tabcontent {
				&__descr {
					font-size: 18px;
					width: 480px;
					height: 270px;
					line-height: 32px;
				}
			}

			.tabheader {
				padding: 30px 20px;
				width: 200px;

				&__item {
					margin-top: 8px;
					font-size: 15px;

					&_active {
						font-weight: 600;
					}
				}
			}
		}

		&__life {
			font-size: 19px;
			font-weight: 600;
		}
	}

	.offer {
		padding: 20px 0 80px 0;

		.bgc_y {
			height: 714px;
			width: 992px;
		}

		&__descr {
			font-size: 16px;
		}

		&__advantages {
			margin-top: 30px;
			width: 250px;

			h2 {
				font-size: 18px;
			}

			&-text {
				margin-top: 15px;
				font-size: 16px;
				line-height: 19px;
			}
		}

		&__slider {
			width: 542px;
			margin-top: 30px;

			&-counter {
				font-size: 20px;
			}

			#current {
				font-size: 42px;
			}

			&-wrapper {
				margin-top: 10px;
			}
		}
	}

	.calculating {
		&__subtitle {
			font-size: 17px;
		}

		&__choose {
			margin-top: 22px;

			&-item {
				width: 160px;
				height: 45px;
			}

			&_medium {
				width: 580px;
			}

			&_big {
				width: 750px;

				.calculating__choose-item {
					width: 165px;
				}
			}
		}

		&__divider {
			margin: 30px auto;
		}

		&__total {
			width: 400px;
		}

		&__result {
			span {
				font-size: 36px;
				font-weight: 600;
			}
		}
	}

	.menu {
		&__item {
			width: 250px;
			min-height: 435px;

			&-subtitle {
				font-size: 17px;
				font-weight: 600;
				margin-top: 15px;
			}

			&-descr {
				margin-top: 15px;
				font-size: 15px;
			}

			&-divider {
				margin-top: 25px;
			}

			&-total {
				span {
					font-size: 22px;
					font-weight: 600;
				}
			}
		}
	}

	.order {
		padding-bottom: 70px;

		&__form {
			margin-top: 50px;
		}

		&__input {
			width: 188px;
			font-size: 15px;
		}

		button {
			font-size: 15px;
			width: 180px;
		}
	}

	.promotion {
		padding: 60px 0 130px 0;

		&__descr {
			margin-top: 30px;
			font-size: 16px;

			span {
				font-size: 22px;
			}
		}

		&__timer {
			.timer {
				margin-top: 50px;
				padding-left: 45px;

				&__block {
					width: 80px;
					height: 100px;

					span {
						margin-top: 15px;
						font-size: 45px;
					}
				}
			}
		}
	}

	.modal {
		&__content {
			padding: 30px;
			width: 90%;
		}

		&__title {
			font-size: 20px;
			width: 380px;
		}

		&__input {
			font-size: 16px;
		}
	}
}

@media (max-width: 991px) {
	.container {
		width: 768px;
		padding: 0 40px;
	}

	.btn {
		width: 160px;
		font-size: 14px;
	}

	.title {
		font-size: 25px;
	}

	.header {
		padding: 0 35px;
		height: 110px;
		margin-top: 10px;

		&__left-block {
			min-width: 400px;
		}

		&__logo {
			max-width: 110px;
		}
	}

	.preview {
		padding: 20px 0 73px 0;

		.bgc_blue {
			height: 630px;
		}

		&__life {
			font-size: 17px;
			margin-left: 60px;
		}
		.tabcontainer {
			width: 650px;

			.tabheader {
				h3 {
					font-size: 15px;
				}

				&__items {
					padding-left: 16px;
					margin-top: 30px;
				}

				&__item {
					font-size: 13px;
				}
			}

			.tabcontent {
				&__descr {
					font-size: 15px;
					line-height: 24px;
					width: 410px;
					height: 155px;
					padding: 20px 25px;
				}
			}
		}
	}

	.offer {
		padding: 20px 20px 60px;
		padding: 20px 0 60px;

		.bgc_y {
			min-width: 768px;
			width: 100%;
			height: 550px;
		}

		&__descr {
			font-size: 15px;
		}

		&__text {
			width: 470px;
		}

		&__advantages {
			margin-top: 0;
			width: 220px;

			h2 {
				font-size: 17px;
				margin-top: 15px;
				&:first-child {
					margin-top: 50px;
				}
			}

			h2:nth-child(3) {
				display: none;
			}

			&-text {
				font-size: 15px;
				line-height: 24px;
				margin-top: 5px;
			}

			&-text:last-child {
				display: none;
			}
		}

		&__slider {
			width: 440px;
			margin-top: 0;

			&-prev {
				#current {
					font-size: 34px;
				}

				#total {
					font-size: 18px;
				}
			}

			.carousel-indicators {
				.dot {
					width: 25px;
					height: 5px;
				}
			}
		}

		&__slide {
			height: 280px;
		}
	}

	.calculating {
		padding: 30px 0;

		&__field {
			margin-top: 25px;
			padding: 25px 0 25px 0;
		}

		&__subtitle {
			font-size: 16px;
		}

		&__choose {
			margin-top: 20px;

			&-item {
				width: 140px;
				height: 38px;
			}

			&_medium {
				width: 444px;
			}

			&_big {
				width: 600px;

				.calculating__choose-item {
					width: 140px;
				}
			}
		}

		&__divider {
			margin: 25px auto;
			width: 444px;
		}

		&__total {
			width: 370px;
		}

		&__result {
			font-size: 16px;
			font-weight: 600;

			span {
				font-weight: 400;
			}
		}
	}

	.menu {
		padding: 30px 0 40px;

		&__field {
			margin-top: 25px;
			padding: 30px 0;

			.container {
				justify-content: center;
				gap: 7px;
			}
		}

		&__item {
			width: 150px;
			min-height: 300px;

			&:active {//таке шось
				transform: scale(1.3);
				transition: all .2s ease;
			}

			img {
				height: 150px;
			}

			&-subtitle {
				font-size: 11px;
				font-weight: 500;
				margin-top: 10px;
			}

			&-descr {
				font-size: 10px;
				margin-top: 10px;
				padding: 0 10px;
			}

			&-divider {
				margin-top: 15px;
			}

			&-price {
				padding: 5px 26px;
			}

			&-cost {
				font-size: 11px;
			}

			&-total {
				font-size: 11px;

				span {
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}

	.sidepanel {
		left: 12px;
	}
}