@media (max-width: 1400px) {
	.container {
		max-width: 1050px;
	}

	.sidepanel {
		left: 30px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 850px;
	}

	.header {
		padding: 0 50px;

		&__left-block {
			min-width: 445px;
		}

		&__link {
			font-size: 16px;
			margin-right: 40px;
			&:after {
				height: 5px;
			}
		}

		&__right-block {
			.btn {
				width: 200px;
				height: 50px;
				font-size: 16px;
			}
		}
	}

	.sidepanel {
		width: 17px;
		height: 380px;

		&__icon {
			width: 22px;
			height: 22px;
		}
	}

}